<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <httpRuntime />
      <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" />
      <compilation debug="true" targetFramework="4.7.1" >
          <assemblies>
              <add assembly="netstandard, Version=2.0.0.0, Culture=neutral, 
          PublicKeyToken=cc7b13ffcd2ddd51"/>
          </assemblies>
      </compilation>
    </system.web>
    <appSettings>
      <add key="merchantID" value='1700002'/>
      <!-- Public sandbox key only. For a real merchant, set the HUTKO_SECRET_KEY
           environment variable instead of committing a secret here. -->
      <add key="secretKey" value="test"/>
      <add key="ApiHost" value="pay.hutko.org"/>
      <add key="contentType" value="json"/>
      <!-- 1.0.1 is the documented default (adds external_ref to responses). -->
      <add key="protocol" value="1.0.1"/>
    </appSettings>
</configuration>